body {
  display: grid;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #15153b;
}

.container {
  font-size: 0.9vw;
  width: max-content;
  display: grid;
  justify-items: center;
  grid-row-gap: 4.5em;
}
.container .potion,
.container .potion__outer,
.container .potion__background {
  grid-column: 1;
}
.container .potion__outer {
  grid-row: 1;
}
.container .potion,
.container .potion__background {
  grid-row: 2;
}
.container .potion__background {
  position: relative;
  top: 1.563em;
  z-index: -1;
}

.potion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.625em;
  width: 12.625em;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(#3afafd, #86ff39);
}

.potion__neck {
  position: absolute;
  top: -2.813em;
  height: 4.875em;
  width: 4.125em;
  background-color: #40fbef;
}
.potion__neck::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.813em;
  width: calc(100% - 1.625em);
  height: calc(100% - 0.813em);
  background: #15153b;
}

.potion__mouth {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2.063em;
  width: 6.25em;
  border-radius: 2.063em;
  background: inherit;
}
.potion__mouth::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.813em;
  height: 0.625em;
  width: 4.75em;
  border-radius: 0.625em;
  background: #15153b;
}

.potion__innerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11em;
  width: 11em;
  border-radius: 50%;
  background: #15153b;
  position: absolute;
}

.potion__inner {
  height: 9.75em;
  width: 9.75em;
  border-radius: 50%;
  position: absolute;
}

.potion__head {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.25em;
  height: 9.063em;
  width: 9.063em;
  z-index: 2;
}
.potion__head::after, .potion__head::before {
  content: "";
  bottom: 0;
  z-index: -1;
}
.potion__head::after {
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  background: linear-gradient(transparent 3.5em, #3afafd 3.5em, #86ff39 105%);
}
.potion__head::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.063em;
  width: 95%;
  height: 5.45em;
  border-radius: 0 0 3em rgba(134, 255, 57, 0.4);
  box-shadow: 0 0 3em rgba(134, 255, 57, 0.4), 0 0 1.875em rgba(134, 255, 57, 0.4), 0 -0.313em 0.625em -0.375em #3afafd, 0 0.625em 1.25em -0.313em #86ff39;
}

.potion__face {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.563em;
  border-radius: 0 0 5.563em 5.563em;
}

.potion__faceEyes {
  height: 1.063em;
  width: 1.063em;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.25em;
  color: #15153b;
  box-shadow: -1.5em 0, 1.5em 0, -2.1em 1em 0 -0.2em #3ed8e0, 2.1em 1em 0 -0.2em #3ed8e0;
}

.potion__faceMouth {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2.5em;
  height: 0.625em;
  width: 1.313em;
  border: 0.313em solid;
  border-top: 0;
  box-sizing: border-box;
  color: #15153b;
  border-radius: 0 0 0.625em 0.625em;
}
.potion__faceMouth::after, .potion__faceMouth::before {
  content: "";
  height: 0.313em;
  width: 0.313em;
  border-radius: 50%;
  position: absolute;
  top: -0.1565em;
  background-color: currentColor;
}
.potion__faceMouth::after {
  left: -0.313em;
}
.potion__faceMouth::before {
  right: -0.313em;
}

.potion__cut {
  position: absolute;
  height: 0.813em;
  width: 0.813em;
  z-index: 1;
}
.potion__cut::after {
  height: inherit;
  width: inherit;
  border-radius: 50%;
  background-color: currentColor;
}
.potion__cut::before {
  height: 1.25em;
  width: 1.25em;
  background-color: #15153b;
  z-index: -1;
}
.potion__cut::after, .potion__cut::before {
  content: "";
  position: absolute;
}
.potion__cut:not(:nth-of-type(1)) {
  color: #79ff5c;
}

.potion__cut:nth-of-type(1) {
  top: 1.313em;
  left: 2.188em;
  color: #4afbd6;
}
.potion__cut:nth-of-type(1)::after {
  box-shadow: 1.063em -0.681em 0 0.006em #40fbef, -0.869em 0.881em 0 0.006em;
}
.potion__cut:nth-of-type(1)::before {
  height: 2.5em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(51deg);
}

.potion__cut:nth-of-type(2) {
  bottom: 4.063em;
  right: 0.306em;
  color: #66fc88;
}
.potion__cut:nth-of-type(2)::after {
  box-shadow: -0.519em 1.156em 0 0.01em #79ff5c;
}
.potion__cut:nth-of-type(2)::before {
  top: 0.313em;
  left: -0.438em;
  transform: rotate(26deg);
}

.potion__cut:nth-of-type(3) {
  bottom: 1.938em;
  right: 1.531em;
}
.potion__cut:nth-of-type(3)::after {
  box-shadow: -1em 0.875em 0 0.006em;
}
.potion__cut:nth-of-type(3)::before {
  top: 0.25em;
  left: -0.688em;
  transform: rotate(46deg);
}

.potion__innerBubbles {
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  position: absolute;
  right: 3.813em;
  top: 1.3em;
  background: linear-gradient(to right, #86ff39 -20%, #3afafd);
  box-shadow: -1.3em 1.3em 0 0.125em #3afafd, -1em -1.8em 0 -0.125em #3afafd, -0.3em -3.5em #72f81b;
  z-index: 1;
}

.potion__shine {
  height: 3.125em;
  width: 3.125em;
  box-sizing: border-box;
  border: 0.813em solid;
  border-top-left-radius: 3.125em;
  border-color: white transparent transparent transparent;
  position: absolute;
  left: 1em;
  transform: rotate(16deg);
}
.potion__shine::after, .potion__shine::before {
  content: "";
  position: absolute;
  background-color: currentColor;
}
.potion__shine::after {
  height: 0.813em;
  width: 0.813em;
  border-radius: 50%;
  bottom: 1.563em;
  left: 0.938em;
  color: #fff;
  box-shadow: -0.938em 0.844em, -1.063em 1em 0 -0.019em, -1.65em 2.063em, -1.594em 1.938em 0 -0.019em;
}
.potion__shine::before {
  color: #15153b;
  height: 1.188em;
  width: 2.375em;
  right: -1.063em;
  top: -0.75em;
  transform: rotate(-28deg);
  box-shadow: 0.125em 1.25em;
}

.potion__outer {
  width: 11em;
  height: 5.75em;
  position: relative;
}

.potion__outerBubbles {
  display: block;
  position: absolute;
}

.potion__outerBubbles:nth-child(1) {
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  color: #fff;
  background-color: currentColor;
  right: 3.75em;
  box-shadow: -0.625em 4.5em 0 -0.125em, -4.188em 2.313em 0 -0.125em;
}

.potion__outerBubbles:nth-child(2) {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background: linear-gradient(#80f513, #b8e8b8);
  top: 2.125em;
  left: 4.625em;
}
.potion__outerBubbles:nth-child(2)::after {
  content: "";
  height: inherit;
  width: inherit;
  border-radius: 50%;
  position: absolute;
  background-color: #2aeeea;
  right: -2.813em;
  bottom: -100%;
}
.potion__outerBubbles:nth-child(2)::before {
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(to right, #80f513, #2aeeea);
  left: -0.625em;
  bottom: -1.688em;
}

.potion__outerStar {
  position: absolute;
  left: 3.625em;
  top: 0.25em;
  height: 1em;
  width: 1em;
}
.potion__outerStar::after, .potion__outerStar::before {
  content: "";
  position: absolute;
  border-radius: 1em;
  background: linear-gradient(to right, #80f513, #2aeeea);
}
.potion__outerStar::after {
  top: 50%;
  transform: translateY(-50%);
  height: 29.2%;
  width: 100%;
}
.potion__outerStar::before {
  left: 50%;
  transform: translateX(-50%);
  width: 29.2%;
  height: 100%;
}

.potion__background {
  width: 18.5em;
  height: 1.125em;
  border-radius: 1.125em;
  color: #1c1c48;
  background-color: currentColor;
  box-shadow: -15.625em 1.125em #15153b, 16.25em 1.125em #15153b, 0 1.125em, -2.25em 2.25em, 2.25em 2.25em, -16.25em 3.375em #15153b, 16.875em 3.375em #15153b, 0 3.375em, 1.25em 4.5em, -1.25em 4.5em, -16.875em 5.625em #15153b, 17.5em 5.625em #15153b, 0 5.625em, -0.625em 6.75em, 0.625em 6.75em;
}

/*# sourceMappingURL=style.css.map */
